.general {
    background-color: gray;
}

.category {
    color: #FFDB56;
    background-color: #635627;
}

.react-js {
    color: #46E9FF;
    background-color: #154F57;
}

.node-js {
    color: #29EF31;
    background-color: #335729;
}