.project-filters {
    display: flex;
    width: 2000px;
}
.filter-selection {
    justify-content: right;
    padding-left: 1000px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
}

.project-item {
    display: flex;
    max-width: 800px;
    padding: 20px;
    margin: 20px;
    background-color: #323232;
    overflow: hidden;
}



.project-info {
    padding-left: 32px;
    overflow: hidden;    
}

.project-title {
    font-size: 21px;
}

.project-sub-title {
    font-size: 16px;
}

.project-info p {
    font-size: 13px;
}   

/* DRY Violation */
.project-tags {
    display: flex;
    flex-wrap: wrap;
    overflow-y:auto
}

/* DRY Violation */
.project-tag {
    font-size: 14px;
    padding: 6px 10px;
    margin: 3px;
}