h1 {
    font-size: 40px;
}

/* Img Demo */
.swiper {
    padding-top: 30px;
    padding-bottom: 30px;
}


/* All the others */

.project-details {
    display: flex;
}

.details-side {
    padding: 5px 5px;
    flex-basis: 20%;
}

.project-techs {
    display: flex;
    flex-wrap: wrap;
    overflow-y:auto
}

.details-main {
    padding: 5px 5px;
    flex-basis : 80%;
}

/* DRY Violation */
.project-tag {
    font-size: 14px;
    padding: 6px 10px;
    margin: 5px;
}